[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "==0.14.1"
pytest = "==4.1.0"
pytest-cov = "==2.6.1"
pytest-django = "==3.4.5"
pytest-factoryboy = "==2.0.2"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.1"
django-debug-toolbar = "==1.10.1"
django-extensions = "==2.1.3"
Django = "==2.1.2"
psycopg2-binary = "==2.7.6"
gunicorn = "==19.9.0"
whitenoise = "==4.1"
djangorestframework = "==3.9.0"
djangorestframework-simplejwt = "==3.3"
drf-yasg = "==1.12.1"
django-cors-headers = "==2.4.0"
