[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
Werkzeug = "==0.15.4"
pytest = "==4.5.0"
pytest-cov = "==2.7.1"
pytest-django = "==3.4.8"
pytest-factoryboy = "==2.0.2"

[packages]
dj-database-url = "==0.5.0"
django-configurations = "==2.1"
django-debug-toolbar = "==1.11"
django-extensions = "==2.1.6"
Django = "==2.2.1"
psycopg2-binary = "==2.8.2"
gunicorn = "==19.9.0"
whitenoise = "==4.1.2"
djangorestframework = "==3.9.4"
djangorestframework-simplejwt = "==4.3.0"
drf-yasg = "==1.15.0"
django-cors-headers = "==3.0.1"
